# This is an example of your .env file format, which pnpm db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
POSTGRES_URL=postgresql://***
STRIPE_MODE=test
STRIPE_SECRET_KEY_TEST=your_stripe_test_secret
STRIPE_SECRET_KEY_LIVE=your_stripe_live_secret
STRIPE_WEBHOOK_SECRET_TEST=your_stripe_test_webhook_secret
STRIPE_WEBHOOK_SECRET_LIVE=your_stripe_live_webhook_secret
BASE_URL=http://localhost:3000
AUTH_SECRET=***
ENABLE_TEST_ENDPOINTS=false
SKIP_STRIPE_SEED=false
